<div class="popup__modal popup__modal_header">
    <div class="popup__form">
        <button class="popup__button_close">
            <div class="popup__button_wrapper">
                <div class="popup__button_line"></div>
                <div class="popup__button_line"></div>
            </div>
        </button>
        <form action="#" name="popupForm" method="post" class="popup__form_wrapper">
            <div class="popup__form_content">
                <h3 class="popup__form_heading">Заказать звонок</h3>
                <div class="popup__form_input-wrapper">
                    <input type="text" name="name" class="popup__form_input-content" placeholder="Ваше имя *" required>
                    <span class="popup__error popup__error_name"></span>
                </div>
                <div class="popup__form_input-wrapper">
                    <input type="tel" id="popupName" name="phone" class="popup__form_input-content" placeholder="Номер телефона *" maxlength = "30" autocomplete="on" pattern="\+7\s?[\(]{0,1}9[0-9]{2}[\)]{0,1}\s?\d{3}[-]{0,1}\d{2}[-]{0,1}\d{2}" required>
                    <span class="popup__error popup__error_tel"></span>
                </div>
                <div class="popup__form_input-wrapper">
                    <button type="submit" class="popup__form_input-button">Заказать звонок</button>
                </div>
                <div class="popup__form_input-wrapper">
                    <input type="checkbox" name="agreement" class="popup__form_input-checkbox" required checked>
                    <label for="agreement">
                        <a href="#" target="#" class="popup__form_agreement">Согласен с политикой конфиденциальности</a>
                    </label>
                </div>
            </div>
        </form>
    </div>
</div>